---
layout: base.vto
---

<header class="page__header">
  <h1 class="page__title">{{ title }}</h1>
  {{ if subtitle }}
  <p class="page__subtitle">{{ subtitle }}</p>
  {{ /if }}
</header>

{{ content }}
