.snow__container {
  position: relative;
  overflow: hidden;
}

.snow {
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  will-change: transform;
}

@keyframes fall1 {
  to {
    transform: translate3d(-80px, 100vh, 0) rotate(360deg);
  }
}

@keyframes fall2 {
  to {
    transform: translate3d(30px, 100vh, 0) rotate(-360deg);
  }
}

@keyframes fall3 {
  to {
    transform: translate3d(-180px, 100vh, 0) rotate(720deg);
  }
}
