.snow__container {
  position: relative;
  overflow: hidden;
}

.snow {
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
}

@keyframes fall1 {
  to {
    transform: translateX(-80px) translateY(100vh) rotate(360deg);
  }
}

@keyframes fall2 {
  to {
    transform: translateX(30px) translateY(100vh) rotate(-360deg);
  }
}

@keyframes fall3 {
  to {
    transform: translateX(-180px) translateY(100vh) rotate(720deg);
  }
}
