* {
  font-family: sans;
}

body {
  padding: 2em;
  margin: auto;
  max-width: 50em;
  background: #151515;
  color: #e9e4e4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar-item {
  color: #e9e4e4;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-decoration: none;
}

.navbar-item:hover {
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
}

.link {
  color: #97bbd3;
  text-decoration: none;
}

.about {
  text-align: justify;
}
