<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Veirt</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="navbar">
        <a class="navbar-item" href="/">home</a>
        <a class="navbar-item" target="_blank" href="https://github.com/Veirt">github</a>
        <a class="navbar-item" target="_blank" href="https://discordapp.com/users/723753456384606238">discord</a>
    </nav>

    <section class="section">
        <div class="container">{% block content %} {% endblock %}</div>
    </section>
</body>

</html>
