{% extends "base.html" %}

{% block content %}
<article class="blog__page">
  <header class="blog__page__header">
    <h1 class="blog__page__title">{{ page.title }}</h1>
    <div class="blog__page__meta">
      <time class="blog__page__date">{{ page.date | date(format="%A, %b %d %Y") }}</time>
      {% if page.extra.skills %}
      <div class="blog__page__skills">
        {% for skill in page.extra.skills %}
        <span class="skill__item">{{ skill }}</span>
        {% endfor %}
      </div>
      {% endif %}
      {% if page.extra.url %}
      <div class="blog__page__links">
        <a class="external__link" target="_blank" rel="noopener noreferrer" href="{{ page.extra.url | safe }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"/>
          </svg>
          View Source
        </a>
      </div>
      {% endif %}
    </div>
  </header>

  {% if page.toc %}
  <aside class="table__of__contents">
    <h3 class="table__of__contents__title">Table of Contents</h3>
    <nav class="table__of__contents__nav">
      <ul class="table__of__contents__list">
        {% for h1 in page.toc %}
        <li class="table__of__contents__item">
          <a class="table__of__contents__link" href="#{{ h1.id }}">{{ h1.title }}</a>
          {% if h1.children %}
          <ul class="table__of__contents__sublist">
            {% for h2 in h1.children %}
            <li class="table__of__contents__subitem">
              <a class="table__of__contents__sublink" href="#{{ h2.id }}">{{ h2.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  {% endif %}

  <div class="blog__page__content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}

