{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<p class="about">
    Hey, I'm Veirt. I'm a developer with an interest in backend development and systems programming.
    I have hands-on experience using Python, Node.js, and Rust.
    Additionally, I enjoy experimenting with *nix systems, building home servers, and <a class="link" href="https://typingstats.com/profile/veirt">typing</a> as a hobby.
</p>

<h1>Projects</h1>
<ul>
    <li><a class="link" href="https://github.com/Veirt/dnpak-rs">dnpak-rs</a> - A Rust implementation of Dragon Nest PAK structure file </li>
    <li><a class="link" href="https://github.com/Veirt/web-search.fish">web-search.fish</a> - A plugin to do a web search via fish. Inspired by oh-my-zsh/web-search </li>
    <li><a class="link" href="https://github.com/Veirt/vesta">vesta</a> - A personal dashboard for my home server. </li>
</ul>

{% endblock content %}

