{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<p class="about">
    Hey, I'm Veirt. I'm a developer with an interest in backend development and systems programming.
</p>
<p>
    I have hands-on experience using Python, Node.js, and Rust.
    Additionally, I enjoy experimenting with *nix systems, building home servers, and <a class="link" href="https://typingstats.com/profile/veirt">typing</a> as a hobby.

</p>
<p>Email: <span class="email link">veirt@duck<b>whatever</b>.com</span></p>

<p>PGP Fingerprint: <a class="link" href="https://github.com/veirt.gpg">003C A58A 7E5D 9767 5964  832E 0415 622A E760 D716</a></p>

<h1>Projects</h1>
<ul>
    <li><a class="link" href="https://github.com/Veirt/dnpak-rs">dnpak-rs</a> - A Rust implementation of Dragon Nest PAK structure file </li>
    <li><a class="link" href="https://github.com/Veirt/web-search.fish">web-search.fish</a> - A plugin to do a web search via fish. Inspired by oh-my-zsh/web-search </li>
    <li><a class="link" href="https://github.com/Veirt/vesta">vesta</a> - A personal dashboard for my home server</li>
    <li><a class="link" href="https://github.com/Veirt/miyo">miyo</a> -
        A Web UI for
        <a class="link" href="https://github.com/xinntao/Real-ESRGAN-ncnn-vulkan">realesrgan-ncnn-vulkan</a>
         and
        <a class="link" href="https://github.com/nihui/waifu2x-ncnn-vulkan">waifu2x-ncnn-vulkan</a>
    </li>
</ul>

{% endblock content %}

